@model IEnumerable<BussinesEntities.EncuestaEntityIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().VENCIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ESTADO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VENCIMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEncuesta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEncuesta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEncuesta })
        </td>
    </tr>
}

</table>
