@model IEnumerable<DAL.Encuestas>

@{
    ViewBag.Title = "Index";
}

<h2>Tus Encuestas</h2>

<p>
    @Html.ActionLink("NUEVA ENCUESTA", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposEncuesta.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preguntas.textoPregunta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposEncuesta.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idEncuesta }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.idEncuesta }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idEncuesta })
        </td>
    </tr>
}

</table>
